<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-pinterest-square"></i></a>

  </div>

  <div class="contact-foooter-form">
    <form action="">
      <input type="text", placeholder="S'inscrire à la Newsletter">
    </form>
  </div>

  <div class="footer-text">
    <%= link_to "Mentions Légales", contact_path  %>
    <%= link_to "Contact", contact_path  %>
  </div>
</div>
