
<div class="container">

  <div class="columns">

    <div class="column">
      <p>logo</p>
        <h4>Une offre clé en main</h4>
        <p>
        Nous vous accompagnons dans toutes les étapes de votre projet :
        <ul>
          <li> Recherche de supports </li>
          <li> Conseils artistiques </li>
          <li> Budgétisation </li>
          <li> Conception </li>
          <li> Réalisation </li>
          <li> Logistique globale </li>
        </ul>
      </p>
    </div>

    <div class="column">
    <p>logo</p>
    <h4>Une expertise unique</h4>
    <p>
    Filiale de Cromology (Tollens & Zolpan), nous adaptons nos équipes et nos peintures à tous les projets :
    <ul>
      <li> Intérieur/extérieur </li>
      <li> Sols/ murs/plafonds/toits </li>
      <li> Ephémères/pérennes/évènementiel </li>
    </ul>
    </p>
    </div>

    <div class="column">
      <p>logo</p>
      <h4> + de 250 artistes</h4>
      <p>
        Nous collaborons avec plus de 250 artistes partenaires, peintres et décorateurs professionnels partout en France qui proposent un panel de styles artistiques large (abstrait, figuratif, trompe l’œil, anamorphose...)
      </p>
    </div>
  </div>


<h3 class:="partners-title">Nos partenaires</h3>

  <div class="partners">
    <div class="partner">
      <p>logo</p>
        <p> Acteur européen du marché de la peinture décorative, Cromology conçoit et fabrique des peintures
            professionnelles innovantes et haut-de-gamme distribuées dans plus de 50 pays. Cromology regroupe des marques de peinture emblématiques sur leurs marchés telles que Tollens
            et Zolpan en France.
        </p>
      </div>

    <div class="partner">
      <p>logo</p>
      <p>
        Tesa est l’un des leaders mondiaux dans le domaine des rubans adhésifs et solutions auto- adhésives techniques (plus de 7 000 produits) aussi bien pour l’industrie et les artisans que pour le grand public.
      </p>
    </div>
  </div>
</div>
