<div class="container">

  <div class="contact">

    <div class="text">
      <p>Artistes, partenaires, clients :</p>
     <p> n'hésitez pas à nous contacter pour nous parler de vous et de votre projet !</p>
    </div>

    <div class="contact-button">
      <%= link_to "ECRIVEZ NOUS!", contact_path  %>
    </div>

    <div class="contact-infos">

      <div class="contact-infos-left">
        <p> 137 rue d’Aboukir  </p>
        <p>75002 Paris </p>
      </div>
      <div class="contact-infos-right">
        <p>pierre@gmail.com</p>
        <p>0677663904</p>
      </div>
    </div>

  </div>
</div>
