<div class="container">

  <p>Artistes, partenaires, clients :
  n'hésitez pas à nous contacter pour nous parler de vous et de votre projet !</p>

  <%= link_to "ECRIVEZ NOUS!", contact_path  %>

  <p> 137 rue d’Aboukir xxx@xxx.COM 75002 Paris 0677663904</p>

</div>
