.columns{
  display: flex;
}

.column{
  width: 33%;
  margin: 3vh;
  .title{
    text-align: center;
    }
  .photo{
    text-align: center;
     img {
      height: 30vh;
      width: 30vh;
      margin-bottom: 5vh;
    }
  }

}

.partners-title{
    text-align: center;
}

.partners{
  display: flex;
}

.partner{
  width: 50%;
  margin: 10vh;
    text-align: center;

  .photo{
   img {
    height: 30vh;
    width: 30vh;
    margin-bottom: 5vh;
  }
}
}
