.realisation-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.img-cover {
  object-fit: cover
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: gray;
}

.realisation-grid {
  padding-top: 1rem;
}