.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  padding: 0px 50px;
  color: white;
   p{
   margin: 0;
  }
}

.contact-foooter-form{
  input{
  width: 30vh;
  text-align: center;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-text a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.5;
}
.footer-text a:hover {
  opacity: 0.5;
}

.footer .fa-heart {
  color: #D23333;
}


@media(max-width: 768px) {
  .footer{
    display: block;
    text-align: center;
    height: 30vh;
    padding: 2vh;
  }
  .footer-links {
    display: block;
    align-items: center;
    margin-top: 1vh;
  }
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 10px;
  }
  .contact-foooter-form{
    input{
    width: 35vh;
    margin: 3vh;
    }
  }
}










