.hp-contains{
  text-align: center;
}

.banner{
  height: 100vh;
  margin-top: -10vh;
  img{
    height: 100vh;
    width: auto;
    object-fit: cover;
  }
}

.counter-block{
  margin-top: 10%;
  height: 40vh;
  display: block;
  justify-content: center;
}

.logos{
  height: 100vh;
  .logos-grid{
    padding: 10vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: 3vh;

    .logo{
     img {
      width: auto;
      height: 20vh;
      border-radius: 5px;
      object-fit: cover;
      }
    }
  }
}

.verbatims{
    height: 70vh;
    display: flex;
    align-items: center;
}

.verbatim{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.verbatim-infos{
  width: 50%;
  p{
    font-size: 3vh;
    font-weight: lighter;
  }
  h4{
    font-size: 3vh;
    font-weight: lighter;
    }
  }
.verbatim-photo{
  width: 50%;
  img {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
      }
    }







@media(max-width: 768px) {
  .logos{
    height: 100vh;
    .logos-grid{
      padding: 10vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      grid-gap: 3vh;

      .logo{
       img {
        width: auto;
        height: 10vh;
        border-radius: 2px;
        object-fit: cover;
        }
      }
    }
  }

  .verbatim-photo{
    width: 50%;
    img {
      width: 25vh;
      height: 25vh;
      object-fit: cover;
    }
  }
}









