.service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 10vh;

  p{
  width: 500px;
  }

}

.serviceinfos{
}

.servicephoto{
  img{
    width: 400px;
    height: 400px;
  }
}


